<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= locals.title || 'WebTest' %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Access-Control-Allow-Origin" content="*"/> <!-- 跨域 -->
        <meta name="keywords" content="<%= locals.title || 'WebTest' %>"/>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/analytics.js"></script>
    </head>
    <body>
        <%- locals.header || '' %>
        <%- locals.main || '' %>
        <%- locals.footer || '' %>

        <script type="text/javascript">
            $(function(){
                var uids = [1001, 1002, 1003, 1004, 1005];
                var uid = uids[new Date().getTime() % uids.length];
                window._user = {
                    id: uid  //当前访问用户的id(如果存在的话)
                };
            });
        </script>
        <%- include ../piwik/common.ejs %>
    </body>
</html>